# Auto detect text files and preform LF normalization
* text=auto

# Files related to Javascript, Vue
*.js text eol=lf
*.vue text eol=lf

# Files are truely binary and should not be modified
*.png binary
*.jpg binary

